<%+cbi/valueheader%>

<label class="cbi-value-title">相关信息</label>
<div class="cbi-value-field">
	<input type="button" class="cbi-button cbi-input-reload" value="使用说明" onclick="javascript:window.open('https://github.com/XiaYi1002/luci-app-e-wool','target');" />
<input type="button" class="cbi-button cbi-input-reload" value="京东链接" onclick="javascript:window.open('https://bean.m.jd.com','target');" />
<input type="button" class="cbi-button cbi-input-reload" value="Cookie获取教程" onclick="javascript:window.open('https://github.com/lxk0301/jd_scripts/blob/master/backUp/GetJdCookie.md','target');" />
<br><font color="red">薅羊毛四部曲：</font>
<br><font color="red">1、填写 Cookies&nbsp; &nbsp; 2、保存&应用</font>
<br><font color="red">3、初始化&nbsp; &nbsp; 4、睡觉没你事了</font>
</div>
<%+cbi/valuefooter%>
<%+cbi/valueheader%>